<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand " id="python-web" href="http://127.0.0.1:5000">PythonWeb</a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav >
        <li class="nav-item">
          <a class="nav-link" href="/about">Haqqimizada</a>
        </li> 
        <li class="nav-item  me-auto" >
          <a class="nav-link" href="/signup">Üzv ol</a>
        </li> 
      </ul>
    </div>
  </div>
</nav>
