{% extends "layout.html" %}
{% block body %}
<style>
th, td {
  border: 1px solid black;
  border-radius: 10px;
}
</style>
<h2>Məqalələrim</h2>
<hr>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group me-2" role="group" aria-label="First group">
  <a class="btn btn-primary" href="/dashboard/create_article" role="button">Əlavə Et</a>
  </div>
</div>
<br>
<table class="table">
<tbody>
{% if exists %}
{% for key,value  in data.items() %}
    <tr>
      <td class="font-weight-bold" style="background-color:rgb(210, 172, 77);" >{{key}}</td>
      <td style="background-color:rgb(210, 172, 77);">
      <div class="list-group btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <a href="/article/{{value[2]}}" class="list-group-item list-group-item-action active" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{value[0]}}</h5>
      <small>{{value[1].strftime("%d/%m/%Y")}}</small>
    </div>
     <small>Siz</small>
  </a>
</div>
      </td>
      <td style="background-color:rgb(210, 172, 77);">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
       <div class="btn-group me-2" role="group" aria-label="Second group">
   <a class="btn btn-warning btn-lg active" aria-pressed="true" href="/update/{{value[2]}}" role="button">Düzəliş Et</a>
  </div>
   <div class="btn-group" role="group" aria-label="Third group">
   <a class="btn btn-danger btn-lg active" aria-pressed="true" href="/delete/{{value[2]}}" role="button">Sil</a>
  </div>
</div>
      </td>
 </tr>
 
{% endfor %}
{% endif %}
  </tbody>
</table>
{% endblock body %}

